[Desktop Entry]
Name=Regex Tester
GenericName=Regex Tester
Comment=Testing regular expressions
Keywords=regex;regular;expressions;
Exec=com.github.artemanufrij.regextester %U
Icon=artemanufrij.regextester
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
X-GNOME-Gettext-Domain=com.github.artemanufrij.regextester
